:root {
    --primary: #24282e;
    --secondary: #0c0e10;
    --light: #ffffff;
    --red: #b04141;
    --dark: #101214;
    --shadow: 0 1px 5px rgba(0, 0, 0, 0.8);
}

body {
    background: linear-gradient(#0c0e10, #24282e);
}

.minhas-fichas {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    color: #ffffff;
}

.criar-button {
    background-color: transparent;
    color: var(--red);
    outline: 0;
    border-color: var(--red);
    width: 150px;
    height: 30px;
    font-size: 15px;
    transition: ease-in-out 100ms;
    cursor: pointer;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 60px;
}

.criar-button:hover {
    transform: scale(1.01);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    height: 1040px;
    align-content: flex-start;
    justify-content: center;
}

.col1 {
    grid-area: col1;
}

.col2 {
    grid-area: col2;
}

.col3 {
    grid-area: col3;
}

.col4 {
    grid-area: col4;
}

.ficha1 {
    color: #ffffff;
    background: #0c0e10;
    display: flex;
    justify-content: space-around;
    height: 200px;
    width: 400px;
    border: solid 2px var(--red);
}


.foto1 {
    grid-area: foto1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.desc1 {
    grid-area: desc1;
}

.conteudo1 {
    padding: 30px;
    height: 250px;
}

.cont-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.desc1 {
    color: #ffffff;
    background: #0c0e10;
    display: grid;
    grid-template-rows: 3fr;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "titulo titulo"
        "det1 det2"
        "det1 det2";
    padding: 30px 20px 20px 0px;
}

.titulo {
    display: grid;
    grid-area: titulo;
    font-size: 15px;
    padding: 0px 0px 30px 0px;
}

.det1 {
    display: grid;
    grid-area: det1;
}

.det2 {
    display: grid;
    grid-area: det2;
}

.detnum {
    font-size: 15px;
    display: flex;
    justify-content: right;
}

.det-nex-classe {
    font-size: 15px;
    padding: 0px 0px 30px 0px;
}

.foto1 {
    background-color: #24282e;
    height: 150px;
    width: 150px;
}